.progress60{

    width: 55px ; 
    height: 35px; 
    text-align: center; 
    align-items: center;
    justify-content: center; 
    position: relative;
    margin-left: 200px;
    padding: 5px;
}

.progress95{

    width: 55px ; 
    height: 35px; 
    text-align: center; 
    align-items: center;
    justify-content: center; 
    position: relative;
    margin-left: 370px;
    padding: 5px;
}

.progress80{

    width: 55px ; 
    height: 35px; 
    text-align: center; 
    align-items: center;
    justify-content: center; 
    position: relative;
    margin-left: 280px;
    padding: 5px;
}

.progress100{

    width: 55px ; 
    height: 35px; 
    text-align: center; 
    align-items: center;
    justify-content: center; 
    position: relative;
    margin-left: 430px;
    padding: 5px;
}

.progress70{

    width: 55px ; 
    height: 35px; 
    text-align: center; 
    align-items: center;
    justify-content: center; 
    position: relative;
    margin-left: 250px;
    padding: 5px;
}

.liPricePlan {
    border-top: 1px solid rgb(197, 197, 197);
}

.borderCarousel {
    border: 2px solid #5bb12f;
}